---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Providers from '../components/Providers.jsx';
import Hero from '../components/Hero.jsx';
import NeuralSync from '../components/NeuralSync.jsx';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Providers client:load>
			<NeuralSync client:load />
			<Header />
			<main>
				<Hero client:load />
			</main>
			<Footer />
		</Providers>
	</body>
</html>
